<h3>概述</h3>

{%if coin_price > 0.01%}
{%set complete_report = True%}
<p>当前汇率: {{'{:<10.4f}'.format(coin_price)}}</p>
{%else%}
{%set complete_report = False%}
{%endif%}

<p>虚拟币变化: {{'{:<10.4f}'.format(coin_changes)}}, 法币变化: {{'{:<10.4f}'.format(fiat_changes)}}</p>
<p>等待平衡次数: {{stats.wait_imbalanced}}, 交易机会: {{stats.trade_chance}}, 资金不足次数:{{stats.insufficient_num}}</p>
<p>交易次数: {{stats.arbitrage_num}}, 未完全成交次数:{{stats.adjust_num}}, 全局调整次数:{{stats.monitor_num}}</p>


<h3>详情</h3>
<table border="1" width="75%">
  <tr>
    <th align="center" rowspan="2">平台</th>
    <th align="center" colspan="2">虚拟币</th>
    <th align="center" colspan="2">法币</th>
    {%if complete_report%}
    <th align="center" colspan="2">折算后</th>
    {%endif%}
  </tr>
  <tr>
    <th align="center">可用</th>
    <th align="center">未成交</th>
    <th align="center">可用</th>
    <th align="center">未成交</th>
    {%if complete_report%}
    <th align="center">虚拟币</th>
    <th align="center">法币</th>
    {%endif%}
  </tr>
  {%for asset in asset_list%}
  <tr>
    <th align="center">{{asset.plt_name}}</th>
    <td align="center">{{'{:<10.4f}'.format(asset.coin_avail)}}</td>
    <td align="center">{{'{:<10.4f}'.format(asset.coin_pending)}}</td>
    <td align="center">{{'{:<10.4f}'.format(asset.fiat_avail)}}</td>
    <td align="center">{{'{:<10.4f}'.format(asset.fiat_pending)}}</td>
    {%if complete_report%}
    <td align="center">{{'{:<10.4f}'.format(asset.converted_coin(coin_price))}}</td>
    <td align="center">{{'{:<10.4f}'.format(asset.converted_fiat(coin_price))}}</td>
    {%endif%}
  </tr>
  {%endfor%}

</table>
